<div class="row">
    <div class="col-sm-4">
        <div class="dropdown" (click)="$event.stopPropagation()">
            <input
                type="text"
                name="name"
                class="form-control"
                [(ngModel)]="filter"
                (keyup)="search()"
            >
            <ul class="dropdown-menu" [ngClass] = "{'show': show && users.length > 0}">
                <li *ngFor="let user of users">
                    <a class="dropdown-item" href="#">
                        <div class="row">
                            <div class="col-sm-3">
                                <img [src]="user.photo">
                            </div>
                            <div class="col-sm-7">
                                <span>{{ user.name }}</span>
                            </div>
                            <div class="col-sm-2">
                                <fa-icon
                                    [icon]="faMinus"
                                    *ngIf="ids.includes(user.id)"
                                    (click)="removeUser(user.id)"
                                >
                                </fa-icon>
                                <fa-icon
                                    [icon]="faPlus"
                                    *ngIf="!ids.includes(user.id)"
                                    (click)="addUser(user)"
                                >
                                </fa-icon>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-1">
        <button
            type="button"
            class="btn btn-primary pull-right"
            (click)="getFriends()"
        >
            Построить
        </button>
    </div>
</div>